<h1> About </h1>
<p>
	This is a little <%= link_to "one month rails", "http://onemonthrails.com" %> project to learn
	<%=  link_to "Ruby on Rails", "rubyonrails.org" %>
	quickly. Hope you like the sample.
</p>
