<div class="hero-unit">
	<h1>Welcome Jonny!</h1>
	<p>
		If you are not Jonny it is ridiculous you even found that page! 
	</p>
	<p>	
		Get in touch by clicking on my name below or start coding yourself with 
		<%= link_to "One Month Rails", "http:onemonthrails.com" %>
	</p>

  	<p><%= link_to "Sign up Now!", "#", class: "btn btn-primary btn-lg" %>
  	</p>
</div>
